
<html>
    <head>
        <meta charset="utf-8">
        {% block google %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
        <link href="/static/css/style4.css" rel="stylesheet" type="text/css">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        <meta name="description" content="Site du projet musical Algorab's Dream, disponible sur toutes les plateformes de streaming."/>
    </head>
    <body id="{% block id %}generic{% endblock %}">
      <!-- <header id="header">
            <img id="algorab" src="/static/img/logo_algorab.png" alt="logo algorab" onclick="javascript:window.location='/home';" />
            <section id="menu">
                {% if logged_user %}
                <ul id="menu">   
                    <li id="menu_list_gauche_con"><a href="/realeases" id="standard">Sorties</a></li>
                    <li id="menu_list_gauche_con"><a href="/panier" id="standard">Mon Panier</a></li> 
                    <li id="menu_list_droit_con"><a href="/modify" id="standard">Mon compte</a></li>
                    <li id="menu_list_droit_con"><a href="/disconnect" id="disconnect">Déconnexion</a></li>
                    <a href="/contact" id="menu_list_droit_con_bas">Contact</a>
                </ul>
                {% else %}
                <ul id="menu">
                    <li id="menu_list_gauche_discon"><a href="/realeases" id="standard">Sorties</a></li>
                    <li id="menu_list_droit_discon"><a href="/login" id="standard">Connexion</a></li>
                    <li id="menu_list_droit_discon"><a href="/contact" id="standard">Contact</a></li>
                </ul>
                {% endif %}
            </section>
        </header>
	
        <p id="content">% block content %% endblock %</p>
        <footer> - © Copyright | Algorab's Dream 2022 - </footer>
 -->
    	 <header class="header">
	<section id="menu">
            {% if logged_user %}
            <div class="container_H">

                <div class="box_H A">
                    <div class="box_H aA" onclick='location.href = "/realeases"'>
                        <a href="/realeases" >Sorties</a>
                    </div>
                    <div class="box_H aB" onclick='location.href = "/panier"'>
                        <a href="/panier" >Mon Panier</a>
                    </div>
                </div>
                <div class="box_H B">
                    <img id="algorab" src="/static/img/logo_algorab.png" alt="logo algorab" onclick="javascript:window.location='/home';" />
            
                </div>
                <div class="box_H C">
                    <div class="box_H bA" onclick='location.href = "/modify"'>
                        <a href="/modify" >Mon compte</a>
                    </div>
                    <div class="box_H bB" onclick='location.href = "/contact"'>
			<a href="/contact">Contact</a>	
                    </div>
                    <div class="box_H bC" id="deco" onclick='location.href = "/disconnect"'>
                        <div class="boxc">
                        <a href="/disconnect" id="deco2">Déconnexion</a>
                        </div>
                    </div>
                </div>
            </div>

            {% else %}
                <div class="container_H">
    
                    <div class="box_H A2">
                        <div class="box_H aA" onclick='location.href = "/realeases"'>
                            <a href="/realeases">Sorties</a>
                        </div>
                    </div>
                    <div class="box_H B">
                        <img id="algorab" src="/static/img/logo_algorab.png" alt="logo algorab" onclick="javascript:window.location='/home';" />
                
                    </div>
                    <div class="box_H C2">
                        <div class="box_H bA" onclick='location.href = "/contact"'>
                            <a href="/contact">Contact</a>
                        </div>
                        <div class="box_H bB" onclick='location.href = "/login"' >
                            <a href="/login" >Connexion</a>
                        </div>
                        
                        
                    </div>
                </div>
            {% endif %}
	</section>
       </header>
       {% block content %}{% endblock %}      
     <!-- <div class="footer">
        <p>- © Copyright | Algorab's Dream 2022 -</p>
    </div> -->
</body>
</html>

