{% extends "base.html" %}

{% block google %}<meta name="google-site-verification" content="0zelfV8dCkjnSQkueAMuW6-ZIbg7kGmsrBfjMDP3QvA" />{% endblock %}

{% block title %}Algorab's Dream{% endblock %}

{% block id %}home{% endblock %} 

{% block content %}
<!--≈<section id="logos">
    <img id="logo_spotify" src="/static/img/logo_spotify.png" alt="logo_spotify" onclick="javascript:window.location='https://open.spotify.com/artist/0lUqg5gC7oXgWnAlZmrqpQ';" style="cursor: pointer;"/>
    <img id="logo_deezer" src="/static/img/logo_deezer.png" alt="logo_deezer" onclick="javascript:window.location='https://deezer.page.link/7LnBqsEt8HTkVfzz8';" style="cursor: pointer;"/>
    <img id="logo_youtube" src="/static/img/logo_youtube.png" alt="logo_youtube" onclick="javascript:window.location='https://www.youtube.com/channel/UC-2c76dD9kLQS06oEEDHEjg';" style="cursor: pointer;"/>
</section>-->
<section id="logos2">
<div class="container_L">
    <div class="box_L 1">
        <img id="logo_spotify2" src="/static/img/logo_spotify.png" alt="logo_spotify" onclick="javascript:window.location='https://open.spotify.com/artist/0lUqg5gC7oXgWnAlZmrqpQ';" style="cursor: pointer;"/>
    </div>
    <div class="box_L 2">
        <img id="logo_deezer2" src="/static/img/logo_deezer.png" alt="logo_deezer" onclick="javascript:window.location='https://deezer.page.link/7LnBqsEt8HTkVfzz8';" style="cursor: pointer;"/>
    </div>
    <div class="box_L 3">
        <img id="logo_youtube2" src="/static/img/logo_youtube.png" alt="logo_youtube" onclick="javascript:window.location='https://www.youtube.com/channel/UC-2c76dD9kLQS06oEEDHEjg';" style="cursor: pointer;"/>
    </div>
</div>
</section>

{% endblock %}
